<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.aliashomebrewapps</string>
	<key>connections</key>
	<dict>
		<key>26E2AE7C-9A24-4AD8-B0AB-152FFB18DFD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3160046E-E8C2-4F20-8987-53BFD7A1276D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3160046E-E8C2-4F20-8987-53BFD7A1276D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAC4D845-FB27-4AF5-8289-DE2E7C31ABC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97E477F9-94DB-4FC8-9D06-8017AA9E1E7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3160046E-E8C2-4F20-8987-53BFD7A1276D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Create shortcuts to Homebrew formula app bundles</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alias Homebrew Apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>brewalias</string>
				<key>subtext</key>
				<string>Create shortcuts to Homebrew formula app bundles</string>
				<key>text</key>
				<string>Alias Homebrew Apps</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>26E2AE7C-9A24-4AD8-B0AB-152FFB18DFD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># Special values for OneUpdater reuse
readonly workflow_webaddress="$(/usr/libexec/PlistBuddy -c 'print webaddress' './info.plist')"
readonly workflow_repo="$(basename "$(dirname "${workflow_webaddress}")")/$(basename "${workflow_webaddress}")"

# THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="${workflow_webaddress}/raw/main/Workflow/info.plist"
readonly workflow_url="${workflow_repo}"
readonly download_type='github_release'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CAC4D845-FB27-4AF5-8289-DE2E7C31ABC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Helpers
function new_alias {
  local -r app="${1}"
  local -r dest_dir="${2}"

  /usr/bin/osascript -e '
    on run argv
      tell application "Finder" to make alias to POSIX file (item 1 of argv) at POSIX file (item 2 of argv)
    end run
  ' "${app}" "${dest_dir}"
}

function update_alias {
  local -r alias="${1}"
  local -r app="${2}"

  /usr/bin/osascript -e '
    on run argv
      tell application "Finder" to set original item of (POSIX file (item 1 of argv) as alias) to (POSIX file (item 2 of argv) as alias)
    end run
  ' "${alias}" "${app}"
}

# Main
readonly formulae_arr=("${(f)${formulae}}")

for formula in "${formulae_arr[@]}"; do
  while IFS= read -r app; do
    app_dest="${apps_dir}/$(basename "${app}")"

    if [[ -e "${app_dest}" ]]; then
      if [[ "$(file --brief "${app_dest}")" != 'MacOS Alias file' ]]; then
        echo "${app_dest} is not an alias! Skipping…" &gt;&amp;2
        continue
      fi

      update_alias "${app_dest}" "${app}"
      continue
    fi

    new_alias "${app}" "${apps_dir}"
  done &lt; &lt;(find "$(brew --cellar)/${formula}" -type d -name '*app')
done

# Make sure Alfred shows aliases in Default Results
readonly prefs="${alfred_preferences}/preferences/features/defaultresults/prefs.plist"

# If aliases are already ignored, exit
if /usr/libexec/PlistBuddy -c 'Print :showUserDefined:' "${prefs}" | grep --quiet '^\s*com.apple.alias-file$'; then
  exit 0
fi

# Create array (and file) if it does not exist
if ! /usr/libexec/PlistBuddy -c 'Print :showUserDefined:' "${prefs}"; then
  /usr/libexec/PlistBuddy -c 'Add :showUserDefined array' "${prefs}"
fi

# Add key
/usr/libexec/PlistBuddy -c 'Add :showUserDefined: string "com.apple.alias-file"' "${prefs}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3160046E-E8C2-4F20-8987-53BFD7A1276D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>build</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>97E477F9-94DB-4FC8-9D06-8017AA9E1E7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Apps built via Homebrew formulae are nested deep in the `Cellar` and not indexed by Spotlight (and thus Alfred). This Workflow takes care of that.

Configure the formulae you want linked and run `brewalias`. App bundles will be aliased into your Applications directory, allowing them to be indexed and invoked like other apps.

![Alfred search for brewalias](images/about/brewalias.png)

You can run the Workflow from a Terminal via the External Trigger. The simplest way is to define an alias in your shell’s startup files:

```
alias brewalias='/usr/bin/osascript -e "tell application id \"com.runningwithcrayons.Alfred\" to run trigger \"build\" in workflow \"com.alfredapp.aliashomebrewapps\""'
```

Then executing `brewalias` in a Terminal will run the Workflow.</string>
	<key>uidata</key>
	<dict>
		<key>26E2AE7C-9A24-4AD8-B0AB-152FFB18DFD3</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>3160046E-E8C2-4F20-8987-53BFD7A1276D</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>97E477F9-94DB-4FC8-9D06-8017AA9E1E7A</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>CAC4D845-FB27-4AF5-8289-DE2E7C31ABC4</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/Applications</string>
				<key>filtermode</key>
				<integer>0</integer>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Applications Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>apps_dir</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Newline-separated list of formulae. Leave empty to alias every app bundle in Homebrew’s Cellar.</string>
			<key>label</key>
			<string>Formulae</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>formulae</string>
		</dict>
	</array>
	<key>version</key>
	<string>2022.4</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/alias-homebrew-apps-workflow/</string>
</dict>
</plist>
