<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.aliashomebrewapps</string>
	<key>connections</key>
	<dict>
		<key>26E2AE7C-9A24-4AD8-B0AB-152FFB18DFD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3160046E-E8C2-4F20-8987-53BFD7A1276D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3160046E-E8C2-4F20-8987-53BFD7A1276D</key>
		<array/>
		<key>97E477F9-94DB-4FC8-9D06-8017AA9E1E7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3160046E-E8C2-4F20-8987-53BFD7A1276D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Create shortcuts to Homebrew formula app bundles</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alias Homebrew Apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:alias_keyword}</string>
				<key>subtext</key>
				<string>Create shortcuts to Homebrew formula app bundles</string>
				<key>text</key>
				<string>Alias Homebrew Apps</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>26E2AE7C-9A24-4AD8-B0AB-152FFB18DFD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Helpers
function new_alias {
  local -r app="${1}"
  local -r dest_dir="${2}"

  /usr/bin/osascript -e '
    on run argv
      tell application "Finder" to make alias to POSIX file (item 1 of argv) at POSIX file (item 2 of argv)
    end run
  ' "${app}" "${dest_dir}"
}

function update_alias {
  local -r alias="${1}"
  local -r app="${2}"

  /usr/bin/osascript -e '
    on run argv
      tell application "Finder" to set original item of (POSIX file (item 1 of argv) as alias) to (POSIX file (item 2 of argv) as alias)
    end run
  ' "${alias}" "${app}"
}

# Main
readonly formulae_arr=("${(f)formulae}")

for formula in "${formulae_arr[@]}"; do
  while IFS= read -r app; do
    app_dest="${apps_dir}/$(basename "${app}")"

    if [[ -e "${app_dest}" ]]; then
      if [[ "$(file --brief "${app_dest}")" != 'MacOS Alias file' ]]; then
        echo "${app_dest} is not an alias! Skipping…" &gt;&amp;2
        continue
      fi

      update_alias "${app_dest}" "${app}"
      continue
    fi

    new_alias "${app}" "${apps_dir}"
  done &lt; &lt;(find "$(brew --cellar)/${formula}" -type d -name '*app')
done

# Make sure Alfred shows aliases in Default Results
readonly prefs="${alfred_preferences}/preferences/features/defaultresults/prefs.plist"

# If aliases are already ignored, exit
if /usr/libexec/PlistBuddy -c 'Print :showUserDefined:' "${prefs}" | grep --quiet '^\s*com.apple.alias-file$'; then
  exit 0
fi

# Create array (and file) if it does not exist
if ! /usr/libexec/PlistBuddy -c 'Print :showUserDefined:' "${prefs}"; then
  /usr/libexec/PlistBuddy -c 'Add :showUserDefined array' "${prefs}"
fi

# Add key
/usr/libexec/PlistBuddy -c 'Add :showUserDefined: string "com.apple.alias-file"' "${prefs}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3160046E-E8C2-4F20-8987-53BFD7A1276D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>build</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>97E477F9-94DB-4FC8-9D06-8017AA9E1E7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup

Set the formulae you want linked in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

## Usage

Alias your Homebrew Cellar apps to the Applications Folder via the `brewalias` keyword. This will allow them to be indexed by macOS and found.

![Alfred search for brewalias](images/about/brewalias.png)

![Alfred search for macvim](images/about/macvim.png)

To trigger the workflow from a terminal, define a `brewalias` command in your shell’s startup files:

```
alias brewalias='/usr/bin/osascript -e "tell application id \"com.runningwithcrayons.Alfred\" to run trigger \"build\" in workflow \"com.alfredapp.vitor.aliashomebrewapps\""'
```</string>
	<key>uidata</key>
	<dict>
		<key>26E2AE7C-9A24-4AD8-B0AB-152FFB18DFD3</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>3160046E-E8C2-4F20-8987-53BFD7A1276D</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>97E477F9-94DB-4FC8-9D06-8017AA9E1E7A</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>brewalias</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Alias Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>alias_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/Applications</string>
				<key>filtermode</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Applications Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>apps_dir</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Newline-separated list of formulae. Leave empty to alias every app bundle in Homebrew’s Cellar.</string>
			<key>label</key>
			<string>Formulae</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>formulae</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/alias-homebrew-apps-workflow/</string>
</dict>
</plist>
